:root {
    --main-color-zelenjoy: rgba(188, 66, 222, 1);
}
@font-face {
    font-family: fontFace;
    src: url(/css/font-face/Vampire-Calligraphy.ttf);
}
html {

}

body {
    margin: 0;
    padding: 0;
    font-family: "Baloo Bhaijaan", sans-serif;
}
.main {
    position: relative;
    display: flex;
    display: -ms-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.night-mode {
    background-color: rgba(0, 0, 0, 0.9);
}
.website {
    width: 83%;
}
.chat {
    width: 17%;
}
.block {
    width: 100%;
}
/* ===== Navbar ===== */
.navbar-bg .navbar-brand {
    color: rgba(188, 66, 222, 1);
}
.navbar-bg {
    background-color: rgba(0, 0, 0, 0.10);
    border-bottom: 2px solid rgba(188, 66, 222, 1);
}
.night-mode .navbar-bg {
    background-color: rgba(0, 0 , 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 1rem 0.2rem 0.5rem;
}
.navbar-font-title {
    font-size: 2rem;
    font-family: fontFace, sans-serif;
    transform: rotate(-8deg);

}
.fa-circle {
    font-size: 12px;
}
.online-mode {
    color: rgba(255, 0, 0, 0.8);
}
.nav-link {
    color: rgba(0, 0, 0, 0.6);
}
.night-mode .nav-link {
    color: rgba(255, 255, 255, 0.8);
}
.nav-item-toggler-night-mode {
    border: 2px solid rgba(188, 66, 222, 1);
    border-radius: 0.3rem;
}
.nav-item-toggler-night-mode .nav-link{
    padding: 2px 1px;
}
.nav-item-toggler-night-mode .nav-link i{
    color: rgba(188, 66, 222, 1);
    vertical-align: middle;
    font-size: 20px;
}
.nav-item #discord, .nav-item #twitter, .nav-item #twitch, .nav-item #instagram, .nav-item #snapchat {
    padding: 3px;
    margin: 0 3px;
    text-align: center;
}
#discord {
    color: rgba(114, 137, 218, 0.7);
}
#discord:hover {
    color: rgba(114, 137, 218, 1);
}
#twitter {
    color: rgba(30, 161, 242, 0.7);
}
#twitter:hover {
    color: rgba(30, 161, 242, 1);
}
#twitch {
    color: rgba(100, 65, 164 , 0.7);
}
#twitch:hover {
    color: rgba(100, 65, 164 , 1);
}
#instagram {
    color: rgba(187, 0, 176, 0.7);
}
#instagram:hover {
    color: rgba(187, 0, 176, 1);
}
.snapchat, #snapchat {
    color: rgba(218, 185, 0, 0.9);
}
.snapchat:hover {
    color: rgba(218, 185, 0, 1);
}
#toggle-snap-name {
    display: none;
}
.nav-link-icons {
    padding: 0;
    margin: 0;
}
.nav-link:hover {
    color: rgba(188, 66, 222, 0.9);
}
.active {
    color: rgba(188, 66, 222, 0.9);
}
.active .offline-mode{
    color: #333;
}
/*==== STREAM ==== */
.stream {
    position: relative;
    width: 100%;
    display: block;
    margin-top: 2rem;
}
.stream .top-stream, .stream .frame-stream, .stream .fsdt-btn {
    width: 72%;
    margin: auto;
}
.stream .frame-stream {
    height: 648px;
    z-index: 1;
}
.top-stream, .top-stream-viewers-theater{
    position: relative;
    display: flex;
    display: -ms-flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.pseudo {
    color: rgba(188, 66, 222, 1);
    font-size: 0.9rem;
}
.game {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
}
.top-stream-title div:nth-child(2) {
    margin-top: -10px;
    padding: 0;
}
.title {
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}
.night-mode .game {
    color: rgba(255, 255, 255, 0.6);
}
.night-mode .title{
    color: rgba(255, 255, 255, 1);
}
.viewers .count {
    color: rgba(188, 66, 222, 1);
    font-size: 1.6rem;
}
.viewers .subtitle {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9rem;
    margin-top: -10px;
}
.night-mode .viewers .subtitle {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    margin-top: -10px;
}
/*=============== FSDT BUTTON ============== */
.theater-btn {
    margin-left: auto;
}
.btn-follow-block, .btn-donate-block, .btn-subs-block {
    display: block;
    background-color: rgba(188, 66, 222, 1);
    margin-top: 5px;
    margin-right: 5px;
    height: 35px;
    border-radius: 0.2rem;
    color: #FFF;
}
.theater-btn .btn-block {
    display: block;
    background-color: rgba(188, 66, 222, 1);
    margin-top: 5px;
    height: 35px;
    border-radius: 0.2rem;
    color: #FFF;
}
.theater-btn .btn-block:hover {
    color: rgba(255, 255, 255, 0.8);
}
.btn-follow-block:hover, .btn-donate-block:hover, .btn-subs-block:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.btn-follow-block .text-follow {
    text-align: center;
    padding: 5px 0;
    width: 100px;
}
.btn-donate-block .text-donate, .btn-subs-block .text-subs {
    text-align: center;
    padding: 5px 0;
    width: 130px;
}
.btn-block .text-theater {
    text-align: center;
    padding: 5px 0;
    width: 130px;
}
.btn-block .icon-theater {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.1);
}
.btn-follow-block .icon-follow, .btn-subs-block .icon-subs, .btn-donate-block .icon-donate {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.1);
}
.icon-follow i,.icon-subs i, .icon-donate i {
    margin-top: 8px;
    margin-left: 7px;
}
.icon-donate i {
    margin-top: 8px;
    margin-left: 5px;
}
.icon-theater i {
    margin-top: 7px;
    margin-left: 8px;
}

.fsd-btn, .theater-btn .btn-block, .btn-subs-block, .btn-follow-block, .btn-donate-block {
    display: flex;
    display: -ms-flex;
}
.theater-btn .icon-theater, .btn-follow-block .icon-follow, .btn-subs-block .icon-subs, .btn-donate-block .icon-donate {
    font-size: 20px;
}
.theater-btn .text-theater, .btn-follow-block .text-follow, .btn-subs-block .text-subs, .btn-donate-block .text-donate {
    font-size: 18px;
}

/*=============== MINI PLAYER ============== */
.frame-stream-mini-player {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 384px;
    height: 216px;
}
.frame-stream-mini-player iframe {
    border-radius: 2rem;
}